.App {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #34495E;
}

.fcc-other-month {
  visibility: hidden !important;
}
.head-wall {
  background-color: #2b0e3f;
  background: #000000;
  color: white;
  padding: 4px;
  border-bottom: 3px solid white;
}
.month-name {
  margin: 2px;
  color: white;
}

.calender-date {
  color: #D35400;
  font-weight: 700;
  font-size: 2rem;
}

.tableContainer{
  height: 100%;
}

.tableContainer table {
  width: 97%;
  background-color: #34495E;
  padding: 10px;
  height: 98% !important;
}


.calender-row {
  padding: 10px;
  color: rgb(0, 0, 0);
}

.calender-col {
  padding: 10px;
  color: #FFF;
  width: 40px;
  font-weight: 500;
}

.isDates-grey {
  color: #566573;
}

.current-date{
  padding: 10px;
  background-color: #BFC9CA;
}